*{
    margin: 0;
    padding: 0;
}


.mainContainer{
    
    border: 1px solid black;
    padding: 1cm;
    background-color: antiquewhite;
}

.heading{
    font-size: 12px;
    margin-top: 2cm;
}

.emoji{
    font-size: 50px;
    margin: 0 2cm;
}

.emoji span{
    margin: 0 0cm;
}

.container{
    display: flex;
    justify-content: space-between;
    
    font-size: 10px;
    margin-top: 1cm;
}

.container span{
    color: red;
}

.input{
    display: flex;
    justify-content: center;
    gap: 2cm;
    font-size: 18px;
    font-weight: bold;
    margin-top: 1cm;
}

.input span{
    color: darkgreen;
}
.select{
    font-size: 12px;
    margin: 1cm 1.5cm;
}

.images{
    display: flex;
    justify-content: center;
    gap: 0.6cm;
    h
}

.images img{
    width: 1.5cm;
    height: 1.5cm;
    border-radius: 50%;
}


.resul {
    
    
    margin: 1cm 2cm;
}
#result{
    font-size: 19px;
    font-weight: bold;
    color: darkgreen;
}


