*{
    
    background-color: antiquewhite;
}




.heading{
    margin-top: 1cm;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
}

.emoji{
    font-size: 40px;
    margin: 0.5cm;
    text-align: center;
}

.emoji span{
    margin: 0 0cm;
}

.container{
    display: flex;
    justify-content: space-between;
    
    font-size: 10px;
    margin: 0.5cm;
}

.container span{
    color: red;
}

.input{
    display: flex;
    justify-content: center;
    gap: 2cm;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0.5cm;
}

.input span{
    color: darkgreen;
    
}
.select{
    font-size: 12px;
    margin: 1cm 1.5cm;
    text-align: center;
}

.images{
    display: flex;
    justify-content: center;
    gap: 0.6cm;
    
}
.images img{
    width: 1.5cm;
    height: 1.5cm;
    border-radius: 50%;
}


.resul {
    text-align: center;
    
    margin: 1cm 2cm;
}
#result{
    font-size: 19px;
    font-weight: bold;
    color: darkgreen;
    
}


